

<% user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>
<% is_product_wished = user_wishlist_products.present? ? user_wishlist_products.select{|s| s.variant.product == product}.last : "" %>
<% if spree_current_user.present? %>
  <% if is_product_wished.present?  %>
    <div id="wishlist-form">
      <%= link_to "REMOVE FROM WISHLIST" ,wished_product_path(is_product_wished, view_from: "cart_page" ),method: :delete, remote: true , class: "button-body-2 rem-wish-btn mod-list button", style: "display: inline-block; float: left; width: 66.8%;  margin-left: 8px; padding: 11px 0px;" %>
    </div>
  <% else %>
    <div id="wishlist-form">
      <%= form_for Spree::WishedProduct.new, html: {id: "product_dtl_wishlist", remote: true} do |f| %>
        <%= f.hidden_field :variant_id, value: product.variant_ids.last||product.master.id %>
        <%= f.hidden_field :quantity %>
        <%=  hidden_field_tag "view_from", "product_page" %>
        <button type="submit" class="button-body-2 wish-btn">
          ADD TO WISHLIST
        </button>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= link_to "ADD TO WISHLIST" ,spree.login_path , class: "button-body-2 wish-btn",style: "display: inline-block; float: left; width: 66.8%;  margin-left: 8px; padding: 9px 49px;" %>
<% end %>
