
<% user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>


<% is_product_wished = user_wishlist_products.present? ? user_wishlist_products.select{|s| s.variant.product == @product}.last : "" %>


<% if spree_current_user.present? %>

  <% if is_product_wished.present?  %>
  	<%= link_to "Remove from Wishlist" ,wished_product_path(is_product_wished, view_from: "cart_page" ),method: :delete, remote: true , class: "btn btn-danger" %>

  <% else %>
  	<div id="wishlist-form">
      <%= form_for Spree::WishedProduct.new, html: {id: "product_dtl_wishlist", remote: true} do |f| %>
        <%= f.hidden_field :variant_id, value: @product.master.id %>
        <%= f.hidden_field :quantity %>
        <%=  hidden_field_tag "view_from", "product_page" %>
        <button type="submit" class="btn btn-info">
          <%= Spree.t(:add_to_wishlist) %>
        </button>
      <% end %>
    </div>
  <% end %>


<% else %>
  <%= link_to Spree.t(:add_to_wishlist) ,spree.login_path , class: "btn btn-info" %>
<% end %>
